<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/97c36ad1a0.js" crossorigin="anonymous"></script>
    <title>Home</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
      </style>

    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
      <div class="container">
        <div class="subcontainer">
          <nav class="navbar">
            <a href="home.html" class="logo">ButlerBot.</a>
            <ul class="nav-menu">

              <li class="nav-item">
                <a href="menu.html" class="nav-link">Menu</a>
              </li>
              <li class="nav-item">
                <a href="team.html" class="nav-link">Team</a>
              </li>
              <li class="nav-item">
                <a href="help.html" class="nav-link">Help</a>
              </li>
              <li> <button onclick="window.location.href = 'menu.html';">Get Started</button></li>
            </ul>
            <div class="hamburger"> 
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>

            </div>
          </nav>
        </div>

      </div>
    </header>
    <section class="hero">
       <div class="hero-container">
        <div class="column-left">
          <h1>A robot to serve your needs</h1>
          <p>Thirsty? Meet ButlerBot, your friendly and reliable automated drink server. Request a refreshment with ease and let ButlerBot handle the rest. </p>
            <button onclick="window.location.href = 'menu.html';">Get Started</button>
       </div>
       <div class="column-right">
        <img src="Robo.png" alt="Image of Robot" class="image">
       </div>
      </section>
  <footer class="footer">
  
      <div class="icons">  
        <a href="https://www.ghpstudentsite.com/engineering" target="_blank" class="fa-solid fa-microchip" ></a>
          <a href="https://www.instagram.com/butlerbotworks/?igsh=MTE5NXh5eXUxd3o2eQ%3D%3D&utm_source=qr" target="_blank" class="fa-brands fa-square-instagram" ></a>
        </div>

      <p class="credits">All rights reserved to ©ButlerBotWorks</p>
</footer>
   
  <script src="main.js"></script>
</body>
</html>



