*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body
{background-color:#ccccccff;
 position: relative;
 padding-top: 40px;
 font-family: "Inter", sans-serif;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#ccccccff;

}
li{
  list-style: none;
  font-size: 25px;


}
a{
  color: black;
  text-decoration: none;


}

.container{
margin-top: auto;
}
.subconatainer{
  width: 85%;
  
}
.navbar{
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px 0 60px;
  
  
}
.nav-menu{
  display: flex;
  align-items: center;
  gap: 150px;
}


.logo{
  font-size: 2rem;
  transition: 0.2s ease;
  padding-right: 50px;
}
.logo:hover{
color: gray;
}
.nav-link{
  transition: 0.2s ease;
}
.nav-link:hover{
  color: gray;
}
.hamburger{
  display: none;
  cursor: pointer;
  
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;

}



@media(max-width:1024px){
  .hamburger{
    display: block; 
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;  
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px)rotate(45deg); 
  }
  
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px)rotate(-45deg)  
  }
  
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    padding: 0 10px;
    background-color:#d9d9d9ff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-items{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }
}
@media(max-width:1600px){
  .container{
    width: 100%;

  }}
  
  .hero-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    padding: 3rem calc((45vw - 1000px)/2);
  }
  .column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 11rem;
  }
  .column-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .column-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height:1.5;
  }

  
  button{
    padding: 1rem 2rem;
    font-size: 1rem;
    border:none;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 50px;
  }
  button:hover{
    background:#d9d9d9ff;
    color: black;
  }
  .column-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }

.image{
  max-width: 90%;
  height: auto;
}

@media screen and (max-width: 760px){
  .hero-container{
    grid-template-columns: 1fr;
  }
}
.icons {
  text-align:center ;
  padding-top: 10px;;
  margin-bottom: 6px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  transition: 0.2s ease;

}
.icons a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.848);
 }
.icons a:hover{
  color:gray;
}
  .footer{
    font-size: 22px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 3px solid black;
 }

 .credits {
  padding-bottom: 4px;
}
